<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find dashan_description)/urdf/dashan_demo.xacro" />
  <param name="use_gui" type="bool" value="False" />
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> 
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find summit_description)/urdf/urdf.vcg" /-->
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find dashan_description)/launch/rviz.rviz"/-->
</launch>
